.hero {
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at top, #111, #000);
}

.hero-content {
  max-width: 700px;
  margin-left: 100px;
}

.tag {
  font-size: 12px;
  letter-spacing: 4px;
  color: #888;
}

.hero h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 20px 0;
  line-height: 1.1;
}

.hero h1 span {
  color: #777;
}

.hero p {
  max-width: 500px;
  color: #aaa;
  line-height: 1.6;
}

.hero-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 40px;
  border-radius: 40px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #ddd;
}
